dist
pinobot
.cabal-sandbox/
cabal.sandbox.config
arbicode.var
pinobot-arbicode
*.o
*.hi
arbicode-sandbox-bin/
arbicode-sandbox/*
!arbicode-sandbox/PinobotSafe.hs
.stack-work/
dist-newstyle/
.DS_Store
